@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');


#prompt_bar {
  background-color: white;
}

#top_navbar {
  height: 6rem !important;
  min-height: unset;
  box-shadow:
      0px 5px 30px 10px rgba(0, 0, 0, 0.5);
  background-color: ghostwhite;
}

#logo_title {
  font-family: 'Oswald', sans-serif;
}

#list_button {
  padding: 0;
  border: none;
  background: none;
  padding-left: 1rem;
}

#about_section {
  margin-top: 12rem;
  margin-bottom: 12rem;
  margin-left:2rem;
  margin-right:2rem;
}

.is-horizontal-center {
  justify-content: center;
}

#info_card {
  border-bottom-left-radius:
      0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}