.Box1 {
  position: absolute;
  width: 291px;
  height: 397px;
  left: 128px;
  top: 100px;
}

.Box2 {
  position: absolute;
  width: 291px;
  height: 397px;
  left: 585px;
  top: 100px;
}

.Box3 {
  position: absolute;
  width: 291px;
  height: 397px;
  left: 1042px;
  top: 100px;
}

.Box4 {
  position: absolute;
  width: 291px;
  height: 397px;
  left: 128px;
  top: 600px;
}

.Box5 {
  position: absolute;
  width: 291px;
  height: 397px;
  left: 585px;
  top: 600px;
}

.Box6 {
  position: absolute;
  width: 291px;
  height: 397px;
  left: 1042px;
  top: 600px;
}

.Back {
  position: absolute;
  width: 196px;
  height: 64px;
  left: 128px;
  top: 1000px;

  border: 3px solid #6f6fe8;
  box-sizing: border-box;
  border-radius: 30px;
}

.Next {
  position: absolute;
  width: 196px;
  height: 64px;
  left: 1172px;
  top: 1000px;

  border: 3px solid #6f6fe8;
  box-sizing: border-box;
  border-radius: 30px;
}
