.Search {
  margin: 1em;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}

.Inputs {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.Filters {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
